*{
    margin: 0;
    padding: 0;
}

body{
    background: #4f6cecc7;
}

.cuerpo-pag{
    background: #ffffff;
    border-radius: 10px;    
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 90%;
}

